<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cssini/style3.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Recuperar cuenta</title>
    <style>
        .custom-button {
        width: 60%;
        height: 50px;
        border: 1px solid #6C3483; /* Color del borde por defecto */
        background: #6C3483;
        border-radius: 25px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        outline: none;
        transition: border-color 0.5s; /* Transición para el cambio de color del borde */
    }
    
    .custom-button:hover {
        border-color: purple; /* Color del borde en estado hover */
    }
    </style>
</head>

<body>
    <div class="formulario">
        <h1>Recupera tu cuenta</h1>
        <h5>Para poder recuperar tu cuenta ingresa tu nueva contraseña</h5>
        <div>
            <div class="input-group">
                <form id="resetForm" method="post">
                    <div class="correo">
                        <input type="hidden" id="token" name="token" required>
                        <input type="password" id="contrasena" name="contrasena" required>
                        <label for="contrasena">Ingresa tu nueva contraseña</label>
                    </div>
                    <div class="correo">
                        <input type="password" id="confirmContrasena" name="confirmContrasena" required>
                        <label for="confirmContrasena">Confirma tu nueva contraseña</label>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="custom-button" onclick="cambioContrasena()">Restablecer contraseña</button>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Obtener el parámetro "token" de la URL
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        // Establecer el valor del campo oculto con el token
        document.addEventListener('DOMContentLoaded', (event) => {
            const token = getQueryParam('token');
            if (token) {
                document.getElementById('token').value = token;
            }
        });

        function cambioContrasena() {
            console.log("entro funcion cambio");

            const form = document.getElementById('resetForm');
            const contrasena = document.getElementById('contrasena').value;
            const confirmContrasena = document.getElementById('confirmContrasena').value;
            const token = document.getElementById('token').value;

            if (contrasena === confirmContrasena) {
                fetch('/resets', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token: token, contrasena: contrasena }),
                })
                .then(response => response.text())
                .then(data => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Contraseña Restablecida',
                        text: data,
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.href = '/login'; // Redirigir a la pantalla de login
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al restablecer la contraseña',
                    });
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contraseñas no coinciden',
                });
            }
        }
    </script>
</body>
</html>
